@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>

    <head></head>
    <body>
    <h3> birthday party</h3>
    <p>The party is next Thursday in the garden in front of the house</p>

    <a href="/party/addform">register</a>
    <br />
    <a href="">attendees</a>
    </body>
    
</html>